*
!api
!cmd
!go.mod
!go.sum
!main.go
!queue
!scheduler
!storage
!web/.browserslistrc
!web/.eslintrc.js
!web/babel.config.js
!web/package-lock.json
!web/package.json
!web/postcss.config.js
!web/public
!web/src
!web/vue.config.js
