{{ define "color" }}
  {{ if eq $.Request.URL.Path "/" }}is-primary{{ else }}is-dark{{ end }}
{{ end }}

{{ define "title" }}
  {{ if eq $.Request.URL.Path "/" }}Read it later{{ else }}Archive{{ end }}
{{ end }}

{{ define "subtitle"}}
  {{ if eq $.Request.URL.Path "/" }}All articles you recently saved{{ else }}All articles you archived{{ end }}
{{ end }}

{{ define "content" }}
  <div class="control">
    <form action="{{ $.Request.URL.Path }}" method="get">
      <input class="input" type="search" placeholder="Search" name="q" value="{{ $.Search }}" autofocus>
    </form>
  </div>

  {{ range $.Bookmarks }}
  <div class="bookmark">
    <strong>{{ if .Title }}{{ .Title }}{{ else }}No title{{ end }}</strong>
    <br />
    <small><a href="{{ .URL }}">{{ .URL }}</a></small>
    <br />
    {{ if .Content }}<p class="b-content">{{ .Content }}</p>{{ end }}
    <p class="actions has-text-right">
      <a href="/{{ .ID }}/delete" class="button is-small is-danger is-outlined">Remove</a>
      {{ if eq $.Request.URL.Path "/archive" }}
      <a href="/{{ .ID }}/readitlater" class="button is-small is-primary">Read it later</a>
      {{ else }}
      <a href="/{{ .ID }}/archive" class="button is-small is-dark">Archive</a>
      {{ end }}
    </p>
  </div>
  {{ end }}

  <!--
  <nav class="pagination is-small" role="navigation" aria-label="pagination">
    <div class="container">
      <form action="{{ $.Request.URL.Path }}" method="get">
        {{ if $.Search }}<input type="hidden" name="q" value="{{ $.Search }}" />{{ end }}
        <button name="offset" value="-20" class="pagination-previous">Previous</button>
        <button name="offset" value="+20" class="pagination-next">Next</button>
      </form>
    </div>
  </nav>
  -->
{{ end }}
